*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr;
  gap: 30px;
  margin: 123px 30px;
  align-items: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.search-form:last-child {
  align-items: flex-end;
}

fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: transparent;
  margin-top: 5px;
  color: #fff;
  outline: none;
  font-size: 18px;
  font-family: "Fira Sans Condensed";
  cursor: text;
}

.search-form__textfield::placeholder {
  opacity: 70%;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: none;
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 5px;
}

.search-form__pseudo-checkbox {
  display: block;
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  block-size: 15px;
  inline-size: 15px;
  background-color: #fff;
  margin: 1px;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label {
  display: flex;
  width: fit-content;
  flex-direction: row;
}

.button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  white-space: nowrap;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
}

.search-form__submit-button {
  padding: 6px 70px;
}

.more-button {
  padding: 6px 134px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 75px;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  margin-top: 26px;
}

.content__list-item {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  padding-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  cursor: pointer;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-inline-size: 0;
  max-inline-size: 196px;
}

.content__video-card-title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "Oswald";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  color: #fff;
  line-height: 16.2px;
  display: -webkit-box;
  /* -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
